@font-face {
    font-family: Montserrat-Regular;
    src: url("../Fonts/Montserrat-Regular.woff");
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url("../Fonts/Montserrat-Bold.woff");
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url("../Fonts/Montserrat-Medium.woff");
  }

  @font-face {
    font-family: Montserrat-SemiBold;
    src: url("../Fonts/Montserrat-SemiBold.woff");
  }

  @font-face {
    font-family: Montserrat-Light;
    src: url("../Fonts/Montserrat-Light.woff");
  }

  @font-face {
    font-family: Raleway-SemiBold;
    src: url("../Fonts/Raleway-SemiBold.woff");
  }

  @font-face {
    font-family: Raleway-Regular;
    src: url("../Fonts/Raleway-Regular.woff");
  }

  @font-face {
    font-family: Lato-Regular;
    src: url("../Fonts/Lato-Regular.woff");
  }

$btn-background-color: #458afc;
$white-color:#ffffff;
$txt-color:#41A6E9;